In [2]:
import numpy as np
import pandas as pd
from faker import Faker
import random
from api.data_analysis_branch import *

In [73]:
info_per_transponder = pd.DataFrame(columns=['transponder_id', 'transponder_name', 'L01_laptime_list', 'fastest_lap_time', 'average_lap_time', 'slowest_lap_time', 'total_L01_laps']).set_index('transponder_id')
display(info_per_transponder)

In [76]:
new_laptimes = pd.DataFrame(columns=['transponder_id', 'lapTime']).set_index('transponder_id')
new_laptimes.loc['LL39889', 'lapTime'] = [22.52]
display(new_laptimes)

In [79]:
new_laptimes_indices = set(new_laptimes.index.to_list())
info_per_transponder_indices = set(info_per_transponder.index.to_list())
print(new_laptimes_indices)
print(info_per_transponder_indices)
diff = new_laptimes_indices - info_per_transponder_indices
print(diff)

empty_rows = ['', [], np.nan, np.nan, np.nan, np.nan]

setdf = {'transponder_id': list(diff),
         'transponder_name': ['' for _ in diff], 
         'L01_laptime_list': [[] for _ in diff],
        'fastest_lap_time': [np.nan for _ in diff], 
        'average_lap_time' : [np.nan for _ in diff], 
        'slowest_lap_time': [np.nan for _ in diff],         
        'total_L01_laps': [0 for _ in diff]
    }

# df_list = [ [idx] + empty_rows for idx in diff ]
print(setdf)

final = pd.DataFrame(setdf).set_index('transponder_id')
display(final)


info_per_transponder = pd.concat([info_per_transponder, final], ignore_index=False)
display(info_per_transponder)

# idx = info_per_transponder.index.to_list()
# cols =  info_per_transponder.columns.tolist()

# print(f'idx = {idx}')
# print(f"cols = {cols}")
# final = pd.DataFrame(df_list, columns=cols)
# print('final')
# display(final)
# print('\n')
# info_per_transponder = pd.concat([info_per_transponder, final], ignore_index=True)

# display(info_per_transponder)




# print(f'new_indices: {new_indices}')
# info_per_transponder = info_per_transponder.reindex(info_per_transponder.index.union(new_indices))
# info_per_transponder['L01_laptime_list'] = info_per_transponder.apply(lambda row: row['L01_laptime_list'] + new_laptimes.get(row.name, []) , axis=1)
# display(info_per_transponder)

In [24]:
columns=['transponder_id', 'transponder_name', 'L01_laptime_list', 'fastest_lap_time', 'average_lap_time', 'slowest_lap_time', 'total_L01_laps']
print(len(columns))

7

In [3]:
data = {'transponder_id': ['KS98417', 'LR40395', 'KL02453', 'LL39835', 'KS98417', 'LL39835'],
        'loop': ['L02', 'L03', 'L03', 'L01', 'L03', 'L02'],
        'utcTimestamp': [1.744052e+09, 1.744050e+09, 1.744050e+09, 1.744050e+09, 1.744050e+09, 1.744052e+09],
        'utcTime': ['2025-04-07 18:46:25.555000', '2025-04-07 18:16:28.029000', '2025-04-07 18:16:28.237000', '2025-04-07 18:16:27.832000', '2025-04-07 18:16:28.976000', '2025-04-07 18:46:29.916000'],
        'lapTime': [28.496, 27.551, 27.960, 22.520, 28.519, 22.581],
        'lapSpeed': [None, None, None, None, None, None],
        'maxSpeed': [None, None, None, None, None, None],
        'cameraPreset': [None, None, None, None, None, None],
        'cameraPan': [None, None, None, None, None, None],
        'cameraTilt': [None, None, None, None, None, None],
        'cameraZoom': [None, None, None, None, None, None],
        'eventName': ['Vlaamse wielerschool', 'Vlaamse wielerschool', 'Vlaamse wielerschool', 'Vlaamse wielerschool', 'Vlaamse wielerschool', 'Vlaamse wielerschool'],
        'recSegmentId': ['L02', 'L03', 'L03', 'L01', 'L03', 'L02'],
        'trackedRider': [None, None, None, None, None, None]}
df = pd.DataFrame(data)
display(df)

,transponder_id,loop,utcTimestamp,utcTime,lapTime,lapSpeed,maxSpeed,cameraPreset,cameraPan,cameraTilt,cameraZoom,eventName,recSegmentId,trackedRider
0,KS98417,L02,1.744052e+09,2025-04-07 18:46:25.555000,28.496,None,None,None,None,None,None,Vlaamse wielerschool,L02,None
1,LR40395,L03,1.744050e+09,2025-04-07 18:16:28.029000,27.551,None,None,None,None,None,None,Vlaamse wielerschool,L03,None
2,KL02453,L03,1.744050e+09,2025-04-07 18:16:28.237000,27.960,None,None,None,None,None,None,Vlaamse wielerschool,L03,None
3,LL39835,L01,1.744050e+09,2025-04-07 18:16:27.832000,22.520,None,None,None,None,None,None,Vlaamse wielerschool,L01,None
4,KS98417,L03,1.744050e+09,2025-04-07 18:16:28.976000,28.519,None,None,None,None,None,None,Vlaamse wielerschool,L03,None
5,LL39835,L02,1.744052e+09,2025-04-07 18:46:29.916000,22.581,None,None,None,None,None,None,Vlaamse wielerschool,L02,None

In [13]:
new_df = df.set_index('transponder_id')
display(new_df['lapTime'])

KeyError: "None of ['transponder_id'] are in the columns"

In [9]:
filtered_df = df[['transponder_id', 'lapTime']]
display(filtered_df)

  transponder_id  lapTime
0        KS98417   28.496
1        LR40395   27.551
2        KL02453   27.960
3        LL39835   22.520
4        KS98417   28.519
5        LL39835   22.581

In [83]:
print(df['transponder_id'].tolist())

['KS98417', 'LR40395', 'KL02453', 'LL39835', 'KS98417', 'LL39835']

In [ ]:
session_data = DataAnalysis(None)
session_data.update(df)
display(session_data.info_per_transponder)

Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []

STEP 1
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []
STEP 2
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []
STEP 3
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []
STEP 4
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []
STEP 5
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []
STEP 6
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []
STEP 7
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []
STEP 8
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []

Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []

In [1]:
import numpy as np
import pandas as pd
from faker import Faker
import random
from api.data_analysis_branch import *

In [2]:
info_per_transponder = pd.DataFrame(columns=['transponder_id', 'transponder_name', 'L01_laptime_list', 'fastest_lap_time', 'average_lap_time', 'slowest_lap_time', 'total_L01_laps'])
info_per_transponder.set_index('transponder_id', inplace=True)
info_per_transponder.loc[1] = ['', [], np.nan, np.nan, np.nan, 0]
info_per_transponder.loc[2] = ['', [], np.nan, np.nan, np.nan, 0]
info_per_transponder.loc[3] = ['', [], np.nan, np.nan, np.nan, 0]
info_per_transponder.loc[4] = ['', [], np.nan, np.nan, np.nan, 0]
info_per_transponder.loc[5] = ['', [], np.nan, np.nan, np.nan, 0]
info_per_transponder.loc[6] = ['', [], np.nan, np.nan, np.nan, 0]
display(info_per_transponder)
info_per_transponder = info_per_transponder[info_per_transponder.index.notna()].sort_index()
display(info_per_transponder)

columns_incomming_csv = ['transponder_id','loop','utcTimestamp','utcTime','lapTime','lapSpeed','maxSpeed','cameraPreset','cameraPan','cameraTilt','cameraZoom','eventName','recSegmentId','trackedRider']

# Initialize Faker
fake = Faker()

# Function to generate random entries
def generate_random_entries(num_entries):
    entries = []
    for _ in range(num_entries):
        entry = {
            'transponder_id': random.randint(1, 6),
            'loop': random.choice(['L01', 'L02']),
            'utcTimestamp': pd.Timestamp(fake.date_time_this_year()).timestamp(),
            'utcTime': fake.date_time_this_year().strftime('%Y-%m-%d %H:%M:%S'),
            'lapTime': random.uniform(13, 50),
            'lapSpeed': random.uniform(30, 60),
            'maxSpeed': random.uniform(60, 100),
            'cameraPreset': random.choice(['preset1', 'preset2', 'preset3']),
            'cameraPan': random.randint(0, 180),
            'cameraTilt': random.randint(0, 90),
            'cameraZoom': random.randint(0, 10),
            'eventName': fake.word(),
            'recSegmentId': random.randint(1, 10),
            'trackedRider': fake.name()
        }
        entries.append(entry)
    return entries

,transponder_name,L01_laptime_list,fastest_lap_time,average_lap_time,slowest_lap_time,total_L01_laps
transponder_id,,,,,,
1,,[],NaN,NaN,NaN,0
2,,[],NaN,NaN,NaN,0
3,,[],NaN,NaN,NaN,0
4,,[],NaN,NaN,NaN,0
5,,[],NaN,NaN,NaN,0
6,,[],NaN,NaN,NaN,0

,transponder_name,L01_laptime_list,fastest_lap_time,average_lap_time,slowest_lap_time,total_L01_laps
transponder_id,,,,,,
1,,[],NaN,NaN,NaN,0
2,,[],NaN,NaN,NaN,0
3,,[],NaN,NaN,NaN,0
4,,[],NaN,NaN,NaN,0
5,,[],NaN,NaN,NaN,0
6,,[],NaN,NaN,NaN,0

In [3]:
# Generate 3 random entries
random_entries = generate_random_entries(10000)
newlines = pd.DataFrame(random_entries, columns=columns_incomming_csv)
display(newlines)

,transponder_id,loop,utcTimestamp,utcTime,lapTime,lapSpeed,maxSpeed,cameraPreset,cameraPan,cameraTilt,cameraZoom,eventName,recSegmentId,trackedRider
0,5,L02,1.740035e+09,2025-03-08 14:27:27,13.077199,58.564077,78.136120,preset2,13,12,0,onto,5,Kyle Harrison
1,1,L02,1.736202e+09,2025-03-05 01:21:56,13.821982,44.874701,72.551122,preset2,179,34,2,south,6,Frances Whitney
2,5,L02,1.739206e+09,2025-02-23 08:15:47,46.522484,32.933636,61.737947,preset3,178,10,9,only,2,Kelly Figueroa
3,5,L02,1.742343e+09,2025-03-07 04:30:36,42.054614,52.062040,81.071922,preset2,104,66,3,claim,1,Jacob Benson
4,1,L01,1.743338e+09,2025-03-07 11:29:57,29.824192,41.114665,99.929610,preset3,156,25,6,their,3,Julie Bates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,6,L01,1.736408e+09,2025-04-01 20:10:05,16.971972,34.680681,88.656027,preset3,146,28,1,use,5,Margaret Jimenez
9996,1,L02,1.742607e+09,2025-03-26 19:14:01,34.286901,30.407836,82.191585,preset1,127,72,10,spring,9,Heather Wilcox
9997,4,L01,1.739856e+09,2025-02-10 04:19:50,23.730207,55.941036,64.679852,preset3,37,67,0,father,7,Belinda Cameron
9998,2,L01,1.743454e+09,2025-01-31 18:54:24,41.908917,48.929349,93.561438,preset1,133,72,4,page,1,Erica Flynn
9999,2,L01,1.740904e+09,2025-01-12 20:38:30,49.487925,31.509829,81.567633,preset3,86,49,0,woman,1,Ellen Carter

In [4]:
# info_per_transponder['L01_laptime_list'] = info_per_transponder.apply(lambda row: np.array([]) if pd.isnull(row['L01_laptime_list']) else row['L01_laptime_list'], axis=1)

new_laptimes = newlines.loc[newlines['loop'] == 'L01'].groupby('transponder_id')['lapTime'].apply(list)
info_per_transponder['L01_laptime_list'] = info_per_transponder.apply(lambda row: row['L01_laptime_list'] + new_laptimes.get(row.name, []) if row.name in newlines['transponder_id'].values else row['L01_laptime_list'], axis=1)

display(info_per_transponder)

,transponder_name,L01_laptime_list,fastest_lap_time,average_lap_time,slowest_lap_time,total_L01_laps
transponder_id,,,,,,
1,,"[29.824192112988246, 16.95988869270622, 42.461...",NaN,NaN,NaN,0
2,,"[18.82562674848476, 43.131695540032766, 27.597...",NaN,NaN,NaN,0
3,,"[49.70475633242962, 23.81076667703948, 23.6219...",NaN,NaN,NaN,0
4,,"[48.33625861525358, 41.37501669799716, 33.3409...",NaN,NaN,NaN,0
5,,"[32.371017385689825, 46.33072255104103, 28.800...",NaN,NaN,NaN,0
6,,"[13.69176239776935, 35.9206770772959, 49.94979...",NaN,NaN,NaN,0

In [5]:
info_per_transponder['average_lap_time'] = info_per_transponder.apply(lambda row: np.mean(row['L01_laptime_list']) if row.name in newlines['transponder_id'].values and len(row['L01_laptime_list']) > 0 else np.nan, axis=1)
display(info_per_transponder)

,transponder_name,L01_laptime_list,fastest_lap_time,average_lap_time,slowest_lap_time,total_L01_laps
transponder_id,,,,,,
1,,"[29.824192112988246, 16.95988869270622, 42.461...",NaN,32.117899,NaN,0
2,,"[18.82562674848476, 43.131695540032766, 27.597...",NaN,30.999818,NaN,0
3,,"[49.70475633242962, 23.81076667703948, 23.6219...",NaN,32.023155,NaN,0
4,,"[48.33625861525358, 41.37501669799716, 33.3409...",NaN,31.866796,NaN,0
5,,"[32.371017385689825, 46.33072255104103, 28.800...",NaN,31.632166,NaN,0
6,,"[13.69176239776935, 35.9206770772959, 49.94979...",NaN,31.941392,NaN,0

In [6]:
info_per_transponder['fastest_lap_time'] = info_per_transponder.apply(lambda row: np.min(row['L01_laptime_list']) if row.name in newlines['transponder_id'].values and len(row['L01_laptime_list']) > 0 else np.nan, axis=1)
display(info_per_transponder)

,transponder_name,L01_laptime_list,fastest_lap_time,average_lap_time,slowest_lap_time,total_L01_laps
transponder_id,,,,,,
1,,"[29.824192112988246, 16.95988869270622, 42.461...",13.076927,32.117899,NaN,0
2,,"[18.82562674848476, 43.131695540032766, 27.597...",13.009007,30.999818,NaN,0
3,,"[49.70475633242962, 23.81076667703948, 23.6219...",13.001854,32.023155,NaN,0
4,,"[48.33625861525358, 41.37501669799716, 33.3409...",13.024991,31.866796,NaN,0
5,,"[32.371017385689825, 46.33072255104103, 28.800...",13.010498,31.632166,NaN,0
6,,"[13.69176239776935, 35.9206770772959, 49.94979...",13.051171,31.941392,NaN,0

In [7]:
info_per_transponder['slowest_lap_time'] = info_per_transponder.apply(lambda row: np.max(row['L01_laptime_list']) if row.name in newlines['transponder_id'].values and len(row['L01_laptime_list']) > 0 else np.nan, axis=1)
display(info_per_transponder)

,transponder_name,L01_laptime_list,fastest_lap_time,average_lap_time,slowest_lap_time,total_L01_laps
transponder_id,,,,,,
1,,"[29.824192112988246, 16.95988869270622, 42.461...",13.076927,32.117899,49.975146,0
2,,"[18.82562674848476, 43.131695540032766, 27.597...",13.009007,30.999818,49.906042,0
3,,"[49.70475633242962, 23.81076667703948, 23.6219...",13.001854,32.023155,49.951194,0
4,,"[48.33625861525358, 41.37501669799716, 33.3409...",13.024991,31.866796,49.989073,0
5,,"[32.371017385689825, 46.33072255104103, 28.800...",13.010498,31.632166,49.845355,0
6,,"[13.69176239776935, 35.9206770772959, 49.94979...",13.051171,31.941392,49.949796,0

In [ ]:
transponder_names = pd.DataFrame({'transponder_id': range(1,7), 'transponder_name': ['Augus', 'Gilles', 'Bart', 'Sander', 'Joris', 'Tom']})
transponder_names.set_index('transponder_id', inplace=True)
display(transponder_names)
info_per_transponder['transponder_name'] = info_per_transponder.index.map(transponder_names['transponder_name'])
display(info_per_transponder)

# info_per_transponder = pd.merge(info_per_transponder, transpondertransptransponder_namestrasinfoinfo_per_transponder_fo_per_transponder)

               transponder_name
transponder_id
1                         Augus
2                        Gilles
3                          Bart
4                        Sander
5                         Joris
6                           Tom

,transponder_name,L01_laptime_list,fastest_lap_time,average_lap_time,slowest_lap_time,total_L01_laps
transponder_id,,,,,,
1,Augus,"[29.824192112988246, 16.95988869270622, 42.461...",13.076927,32.117899,49.975146,0
2,Gilles,"[18.82562674848476, 43.131695540032766, 27.597...",13.009007,30.999818,49.906042,0
3,Bart,"[49.70475633242962, 23.81076667703948, 23.6219...",13.001854,32.023155,49.951194,0
4,Sander,"[48.33625861525358, 41.37501669799716, 33.3409...",13.024991,31.866796,49.989073,0
5,Joris,"[32.371017385689825, 46.33072255104103, 28.800...",13.010498,31.632166,49.845355,0
6,Tom,"[13.69176239776935, 35.9206770772959, 49.94979...",13.051171,31.941392,49.949796,0

In [ ]:
global x

def globalx():



















    
    x = 1

def klprint(y):
    print(f'x = {x} and y = {y}')

globalx()
klprint(5)

NameError: name 'x' is not defined