In [1]:
import numpy as np
import pandas as pd
from faker import Faker
import random
from api.data_analysis_branch import *

In [2]:
info_per_transponder = pd.DataFrame(columns=['transponder_id', 'transponder_name', 'L01_laptime_list', 'fastest_lap_time', 'average_lap_time', 'slowest_lap_time', 'total_L01_laps']).set_index('transponder_id')
display(info_per_transponder)

Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []

In [6]:
new_laptimes = pd.DataFrame(columns=['transponder_id', 'lapTime']).set_index('transponder_id')
new_laptimes.loc['LL39889', 'lapTime'] = [22.52]
display(new_laptimes)

                lapTime
transponder_id
LL39889         [22.52]

In [79]:
new_laptimes_indices = set(new_laptimes.index.to_list())
info_per_transponder_indices = set(info_per_transponder.index.to_list())
print(new_laptimes_indices)
print(info_per_transponder_indices)
diff = new_laptimes_indices - info_per_transponder_indices
print(diff)

empty_rows = ['', [], np.nan, np.nan, np.nan, np.nan]

setdf = {'transponder_id': list(diff),
         'transponder_name': ['' for _ in diff], 
         'L01_laptime_list': [[] for _ in diff],
        'fastest_lap_time': [np.nan for _ in diff], 
        'average_lap_time' : [np.nan for _ in diff], 
        'slowest_lap_time': [np.nan for _ in diff],         
        'total_L01_laps': [0 for _ in diff]
    }

# df_list = [ [idx] + empty_rows for idx in diff ]
print(setdf)

final = pd.DataFrame(setdf).set_index('transponder_id')
display(final)


info_per_transponder = pd.concat([info_per_transponder, final], ignore_index=False)
display(info_per_transponder)

# idx = info_per_transponder.index.to_list()
# cols =  info_per_transponder.columns.tolist()

# print(f'idx = {idx}')
# print(f"cols = {cols}")
# final = pd.DataFrame(df_list, columns=cols)
# print('final')
# display(final)
# print('\n')
# info_per_transponder = pd.concat([info_per_transponder, final], ignore_index=True)

# display(info_per_transponder)




# print(f'new_indices: {new_indices}')
# info_per_transponder = info_per_transponder.reindex(info_per_transponder.index.union(new_indices))
# info_per_transponder['L01_laptime_list'] = info_per_transponder.apply(lambda row: row['L01_laptime_list'] + new_laptimes.get(row.name, []) , axis=1)
# display(info_per_transponder)

In [24]:
columns=['transponder_id', 'transponder_name', 'L01_laptime_list', 'fastest_lap_time', 'average_lap_time', 'slowest_lap_time', 'total_L01_laps']
print(len(columns))

7

In [3]:
data = {'transponder_id': ['KS98417', 'LR40395', 'KL02453', 'LL39835', 'KS98417', 'LL39835'],
        'loop': ['L02', 'L03', 'L03', 'L01', 'L03', 'L02'],
        'utcTimestamp': [1.744052e+09, 1.744050e+09, 1.744050e+09, 1.744050e+09, 1.744050e+09, 1.744052e+09],
        'utcTime': ['2025-04-07 18:46:25.555000', '2025-04-07 18:16:28.029000', '2025-04-07 18:16:28.237000', '2025-04-07 18:16:27.832000', '2025-04-07 18:16:28.976000', '2025-04-07 18:46:29.916000'],
        'lapTime': [28.496, 27.551, 27.960, 22.520, 28.519, 22.581],
        'lapSpeed': [None, None, None, None, None, None],
        'maxSpeed': [None, None, None, None, None, None],
        'cameraPreset': [None, None, None, None, None, None],
        'cameraPan': [None, None, None, None, None, None],
        'cameraTilt': [None, None, None, None, None, None],
        'cameraZoom': [None, None, None, None, None, None],
        'eventName': ['Vlaamse wielerschool', 'Vlaamse wielerschool', 'Vlaamse wielerschool', 'Vlaamse wielerschool', 'Vlaamse wielerschool', 'Vlaamse wielerschool'],
        'recSegmentId': ['L02', 'L03', 'L03', 'L01', 'L03', 'L02'],
        'trackedRider': [None, None, None, None, None, None]}
df = pd.DataFrame(data)
display(df)

,transponder_id,loop,utcTimestamp,utcTime,lapTime,lapSpeed,maxSpeed,cameraPreset,cameraPan,cameraTilt,cameraZoom,eventName,recSegmentId,trackedRider
0,KS98417,L02,1.744052e+09,2025-04-07 18:46:25.555000,28.496,None,None,None,None,None,None,Vlaamse wielerschool,L02,None
1,LR40395,L03,1.744050e+09,2025-04-07 18:16:28.029000,27.551,None,None,None,None,None,None,Vlaamse wielerschool,L03,None
2,KL02453,L03,1.744050e+09,2025-04-07 18:16:28.237000,27.960,None,None,None,None,None,None,Vlaamse wielerschool,L03,None
3,LL39835,L01,1.744050e+09,2025-04-07 18:16:27.832000,22.520,None,None,None,None,None,None,Vlaamse wielerschool,L01,None
4,KS98417,L03,1.744050e+09,2025-04-07 18:16:28.976000,28.519,None,None,None,None,None,None,Vlaamse wielerschool,L03,None
5,LL39835,L02,1.744052e+09,2025-04-07 18:46:29.916000,22.581,None,None,None,None,None,None,Vlaamse wielerschool,L02,None

In [13]:
new_df = df.set_index('transponder_id')
display(new_df['lapTime'])

KeyError: "None of ['transponder_id'] are in the columns"

In [9]:
filtered_df = df[['transponder_id', 'lapTime']]
display(filtered_df)

  transponder_id  lapTime
0        KS98417   28.496
1        LR40395   27.551
2        KL02453   27.960
3        LL39835   22.520
4        KS98417   28.519
5        LL39835   22.581

In [83]:
print(df['transponder_id'].tolist())

['KS98417', 'LR40395', 'KL02453', 'LL39835', 'KS98417', 'LL39835']

In [ ]:
session_data = DataAnalysis(None)
session_data.update(df)
display(session_data.info_per_transponder)

Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []

STEP 1
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []
STEP 2
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []
STEP 3
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []
STEP 4
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []
STEP 5
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []
STEP 6
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []
STEP 7
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []
STEP 8
info_per_transponder: Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []

Empty DataFrame
Columns: [transponder_name, L01_laptime_list, fastest_lap_time, average_lap_time, slowest_lap_time, total_L01_laps]
Index: []

In [1]:
import numpy as np
import pandas as pd
from faker import Faker
import random
from api.data_analysis_branch import *

In [2]:
info_per_transponder = pd.DataFrame(columns=['transponder_id', 'transponder_name', 'L01_laptime_list', 'fastest_lap_time', 'average_lap_time', 'slowest_lap_time', 'total_L01_laps'])
info_per_transponder.set_index('transponder_id', inplace=True)
info_per_transponder.loc[1] = ['', [], np.nan, np.nan, np.nan, 0]
info_per_transponder.loc[2] = ['', [], np.nan, np.nan, np.nan, 0]
info_per_transponder.loc[3] = ['', [], np.nan, np.nan, np.nan, 0]
info_per_transponder.loc[4] = ['', [], np.nan, np.nan, np.nan, 0]
info_per_transponder.loc[5] = ['', [], np.nan, np.nan, np.nan, 0]
info_per_transponder.loc[6] = ['', [], np.nan, np.nan, np.nan, 0]
display(info_per_transponder)
info_per_transponder = info_per_transponder[info_per_transponder.index.notna()].sort_index()
display(info_per_transponder)

columns_incomming_csv = ['transponder_id','loop','utcTimestamp','utcTime','lapTime','lapSpeed','maxSpeed','cameraPreset','cameraPan','cameraTilt','cameraZoom','eventName','recSegmentId','trackedRider']

# Initialize Faker
fake = Faker()

# Function to generate random entries
def generate_random_entries(num_entries):
    entries = []
    for _ in range(num_entries):
        entry = {
            'transponder_id': random.randint(1, 6),
            'loop': random.choice(['L01', 'L02']),
            'utcTimestamp': pd.Timestamp(fake.date_time_this_year()).timestamp(),
            'utcTime': fake.date_time_this_year().strftime('%Y-%m-%d %H:%M:%S'),
            'lapTime': random.uniform(13, 50),
            'lapSpeed': random.uniform(30, 60),
            'maxSpeed': random.uniform(60, 100),
            'cameraPreset': random.choice(['preset1', 'preset2', 'preset3']),
            'cameraPan': random.randint(0, 180),
            'cameraTilt': random.randint(0, 90),
            'cameraZoom': random.randint(0, 10),
            'eventName': fake.word(),
            'recSegmentId': random.randint(1, 10),
            'trackedRider': fake.name()
        }
        entries.append(entry)
    return entries

,transponder_name,L01_laptime_list,fastest_lap_time,average_lap_time,slowest_lap_time,total_L01_laps
transponder_id,,,,,,
1,,[],NaN,NaN,NaN,0
2,,[],NaN,NaN,NaN,0
3,,[],NaN,NaN,NaN,0
4,,[],NaN,NaN,NaN,0
5,,[],NaN,NaN,NaN,0
6,,[],NaN,NaN,NaN,0

,transponder_name,L01_laptime_list,fastest_lap_time,average_lap_time,slowest_lap_time,total_L01_laps
transponder_id,,,,,,
1,,[],NaN,NaN,NaN,0
2,,[],NaN,NaN,NaN,0
3,,[],NaN,NaN,NaN,0
4,,[],NaN,NaN,NaN,0
5,,[],NaN,NaN,NaN,0
6,,[],NaN,NaN,NaN,0

In [12]:
# Generate 3 random entries
random_entries = generate_random_entries(10)
newlines = pd.DataFrame(random_entries, columns=columns_incomming_csv)
display(newlines)

,transponder_id,loop,utcTimestamp,utcTime,lapTime,lapSpeed,maxSpeed,cameraPreset,cameraPan,cameraTilt,cameraZoom,eventName,recSegmentId,trackedRider
0,1,L01,1.740021e+09,2025-03-14 13:24:27,42.218380,41.371349,62.029101,preset2,176,14,0,staff,3,Stacy Rasmussen
1,1,L01,1.744602e+09,2025-02-05 07:49:45,24.165147,43.159310,89.645846,preset1,124,59,2,reason,4,Michele Pierce
2,5,L01,1.739170e+09,2025-03-28 16:13:43,23.951491,30.486656,62.078594,preset3,160,88,0,unit,1,Tina Fuller
3,3,L02,1.740400e+09,2025-03-04 07:57:50,19.771732,47.649294,69.709836,preset3,128,38,10,prepare,2,Ashley Golden
4,1,L02,1.742626e+09,2025-01-07 11:26:19,36.035158,45.901416,92.338399,preset3,173,3,8,change,10,Jessica Patton
5,5,L01,1.737498e+09,2025-02-09 09:05:06,49.778058,36.148070,80.814804,preset3,149,10,6,party,8,Linda Jordan
6,2,L01,1.744551e+09,2025-02-18 07:03:42,45.021835,31.866835,74.431626,preset2,112,40,1,age,3,Gary Riley
7,4,L02,1.736318e+09,2025-03-29 22:57:09,31.104462,35.815049,60.388695,preset2,157,50,3,move,7,David Bell
8,4,L01,1.741960e+09,2025-02-19 02:56:24,22.005601,40.798364,85.825820,preset1,156,46,9,commercial,5,Sarah Hickman
9,2,L01,1.744676e+09,2025-02-07 13:14:39,25.004250,51.187404,61.867884,preset2,78,2,4,account,5,Antonio Walker

In [6]:
data = DataAnalysis()

In [28]:
random_entries = generate_random_entries(1000)
newlines = pd.DataFrame(random_entries, columns=columns_incomming_csv)
data.update(newlines)

changed_file:
      transponder_id loop  utcTimestamp              utcTime    lapTime  \
0                 4  L02  1.737624e+09  2025-01-25 19:17:38  43.177913
1                 2  L02  1.740779e+09  2025-02-17 17:56:08  13.970935
2                 2  L02  1.736702e+09  2025-03-28 21:58:43  15.193543
3                 5  L02  1.739352e+09  2025-03-01 12:10:22  43.928003
4                 2  L02  1.737707e+09  2025-01-01 09:11:34  21.368306
..              ...  ...           ...                  ...        ...
995               1  L01  1.738834e+09  2025-03-29 19:54:16  14.773884
996               1  L01  1.737569e+09  2025-03-28 08:29:11  44.588944
997               1  L02  1.738097e+09  2025-02-11 10:17:32  15.907767
998               1  L02  1.735869e+09  2025-03-11 19:36:23  26.269135
999               6  L02  1.738296e+09  2025-02-12 15:12:33  40.366921

      lapSpeed   maxSpeed cameraPreset  cameraPan  cameraTilt  cameraZoom  \
0    32.340360  69.925269      preset1          0          30           4
1    36.959376  96.126331      preset2        149          54           8
2    53.594383  93.898660      preset2        140          22           6
3    45.414803  74.912074      preset1        131          20           6
4    42.132074  60.222168      preset1         88          46           7
..         ...        ...          ...        ...         ...         ...
995  49.519438  94.711496      preset3         33          21           4
996  52.588742  84.211065      preset3         85          46           7
997  42.068304  62.888253      preset3         73          82           0
998  54.478597  67.857878      preset2         89          47           2
999  58.175666  85.666419      preset1        103          89           6

    eventName  recSegmentId     trackedRider
0        view             7      Karen Brady
1       those             1       Ryan Green
2       store             3      Ryan Turner
3       glass             7    Richard Wolfe
4      method            10     Thomas Baker
..        ...           ...              ...
995    simply             1    Juan Phillips
996   account             7     Joseph Gomez
997     crime             2   Bradley Newman
998     voice             6       Brad Woods
999     short             6  Darren Mckenzie

[1000 rows x 14 columns]
new_rows:
       transponder_id loop  utcTimestamp              utcTime    lapTime  \
0                  1  L02  1.735697e+09  2025-01-02 17:41:15  46.598890
1                  1  L01  1.735766e+09  2025-01-30 17:23:38  36.631291
2                  1  L02  1.735869e+09  2025-03-11 19:36:23  26.269135
3                  1  L01  1.736016e+09  2025-02-23 22:22:29  42.878473
4                  1  L01  1.736026e+09  2025-01-14 02:06:18  39.589142
...              ...  ...           ...                  ...        ...
1460               6  L02  1.744552e+09  2025-01-31 03:24:02  19.506803
1464               6  L01  1.744676e+09  2025-04-16 04:44:43  29.496709
1465               6  L01  1.744722e+09  2025-02-22 01:06:41  49.796916
1466               6  L02  1.744794e+09  2025-02-27 03:01:29  24.805499
1468               6  L02  1.744840e+09  2025-02-18 19:45:32  41.540493

       lapSpeed   maxSpeed cameraPreset  cameraPan  cameraTilt  cameraZoom  \
0     55.273417  92.314715      preset2       46.0         7.0         8.0
1     32.798965  67.776420      preset2        7.0        55.0         0.0
2     54.478597  67.857878      preset2       89.0        47.0         2.0
3     51.679983  91.786209      preset2      171.0         8.0         2.0
4     47.720417  67.438293      preset1       55.0        13.0         7.0
...         ...        ...          ...        ...         ...         ...
1460  51.873133  77.628391      preset3      149.0        65.0         5.0
1464  30.083554  63.584106      preset1      164.0         4.0         8.0
1465  54.160986  72.257744      preset3       31.0        17.0         9.0
1466  46.862429  72.132185      preset2       79.0        68.0         6.0
1468  32.364246  87.836067      preset3      109.0        82.0        10.0

     eventName  recSegmentId      trackedRider
0        write           1.0       John Howell
1        happy           3.0       Sean Powell
2        voice           6.0        Brad Woods
3      soldier           5.0     Jonathan Ware
4       really           9.0      Frank Duncan
...        ...           ...               ...
1460    weight           4.0    William Cooper
1464        me           5.0     Olivia Peters
1465       bag           4.0  Jason Sanders MD
1466    result           6.0          Kim Hall
1468  official           9.0       Paul Rivera

[1000 rows x 14 columns]
self._newlines:
       transponder_id loop  utcTimestamp              utcTime    lapTime  \
0                  1  L02  1.735697e+09  2025-01-02 17:41:15  46.598890
1                  1  L01  1.735766e+09  2025-01-30 17:23:38  36.631291
2                  1  L02  1.735869e+09  2025-03-11 19:36:23  26.269135
3                  1  L01  1.736016e+09  2025-02-23 22:22:29  42.878473
4                  1  L01  1.736026e+09  2025-01-14 02:06:18  39.589142
...              ...  ...           ...                  ...        ...
1460               6  L02  1.744552e+09  2025-01-31 03:24:02  19.506803
1464               6  L01  1.744676e+09  2025-04-16 04:44:43  29.496709
1465               6  L01  1.744722e+09  2025-02-22 01:06:41  49.796916
1466               6  L02  1.744794e+09  2025-02-27 03:01:29  24.805499
1468               6  L02  1.744840e+09  2025-02-18 19:45:32  41.540493

       lapSpeed   maxSpeed cameraPreset  cameraPan  cameraTilt  cameraZoom  \
0     55.273417  92.314715      preset2       46.0         7.0         8.0
1     32.798965  67.776420      preset2        7.0        55.0         0.0
2     54.478597  67.857878      preset2       89.0        47.0         2.0
3     51.679983  91.786209      preset2      171.0         8.0         2.0
4     47.720417  67.438293      preset1       55.0        13.0         7.0
...         ...        ...          ...        ...         ...         ...
1460  51.873133  77.628391      preset3      149.0        65.0         5.0
1464  30.083554  63.584106      preset1      164.0         4.0         8.0
1465  54.160986  72.257744      preset3       31.0        17.0         9.0
1466  46.862429  72.132185      preset2       79.0        68.0         6.0
1468  32.364246  87.836067      preset3      109.0        82.0        10.0

     eventName  recSegmentId      trackedRider
0        write           1.0       John Howell
1        happy           3.0       Sean Powell
2        voice           6.0        Brad Woods
3      soldier           5.0     Jonathan Ware
4       really           9.0      Frank Duncan
...        ...           ...               ...
1460    weight           4.0    William Cooper
1464        me           5.0     Olivia Peters
1465       bag           4.0  Jason Sanders MD
1466    result           6.0          Kim Hall
1468  official           9.0       Paul Rivera

[1000 rows x 14 columns]
NEW UPDATES COMING UP...
self._newlines:
       transponder_id loop  utcTimestamp              utcTime    lapTime  \
175                1  L01  1.742598e+09  2025-01-03 05:32:44  21.707174
235                1  L01  1.744574e+09  2025-01-03 14:40:54  13.703667
224                1  L01  1.744176e+09  2025-01-05 18:35:04  28.823202
192                1  L01  1.743150e+09  2025-01-05 21:56:16  15.345632
129                1  L01  1.740992e+09  2025-01-08 07:10:02  22.696801
...              ...  ...           ...                  ...        ...
1244               6  L01  1.736960e+09  2025-04-12 11:23:08  19.049328
1260               6  L01  1.737737e+09  2025-04-13 16:37:27  28.847469
1464               6  L01  1.744676e+09  2025-04-16 04:44:43  29.496709
1414               6  L01  1.742815e+09  2025-04-16 11:42:48  32.697126
1340               6  L01  1.740254e+09  2025-04-16 23:17:23  38.322787

       lapSpeed   maxSpeed cameraPreset  cameraPan  cameraTilt  cameraZoom  \
175   43.802931  63.417212      preset3      154.0        17.0        10.0
235   40.069835  86.894279      preset1       86.0        24.0         5.0
224   38.692802  97.009871      preset2      109.0        78.0         5.0
192   59.897838  89.104832      preset2      150.0         6.0         7.0
129   57.615846  77.999924      preset1      127.0        21.0         6.0
...         ...        ...          ...        ...         ...         ...
1244  42.949101  81.200405      preset2      173.0        38.0         7.0
1260  46.111022  72.982535      preset2       13.0        59.0         5.0
1464  30.083554  63.584106      preset1      164.0         4.0         8.0
1414  53.120220  71.591187      preset3      167.0        73.0         0.0
1340  54.881876  75.240311      preset3      118.0        74.0         9.0

     eventName  recSegmentId     trackedRider
175        act           6.0    Timothy Klein
235    general           8.0        Frank Lee
224     around           6.0        Andrea Li
192       baby           9.0      James Lucas
129     design           9.0       Mary Myers
...        ...           ...              ...
1244   college           7.0      Karen Eaton
1260      sign           1.0  Diana Dickerson
1464        me           5.0    Olivia Peters
1414   evening           2.0    Heather Frank
1340       bad           8.0       Jerry Lowe

[502 rows x 14 columns]
De dataframe is empty: False
ALL UPDATES DONE

In [35]:
display(data.diesel)
data.diesel.values.tolist()

   transponder_id        std       mean        CV  rolling_variability
4               5  10.084587  32.879014  0.306718              10.1976

[[5.0,
  10.084586508510164,
  32.87901361972287,
  0.30671803677409604,
  10.197600054165182]]

In [32]:
print(data.info_per_transponder.loc[5, 'L01_laptime_list'])

[49.77805799470383, 23.95149135196928, 28.148345228831676, 49.498528836920585, 21.6688787193832, 13.093137323646861, 16.645230244933103, 25.536125826792542, 32.19393257928628, 27.7315916010508, 33.0064023853201, 43.108112945665226, 35.48026311429652, 48.32549804021072, 22.892316700963864, 17.907251294993927, 43.40501158570039, 33.30077012240529, 32.67147825023753, 30.419645513720603, 29.066218140201705, 19.2841882651282, 19.17235263954769, 39.69284659588707, 13.021665732498743, 36.24004109590334, 32.012121079299064, 34.708532090817144, 43.069276853757074, 33.18786008771251, 45.860709103714235, 26.115228649965438, 39.24147624964458, 29.236045472440754, 23.681770495581844, 13.458723059499668, 39.51556492221073, 31.661612029108213, 22.79064138855862, 49.19421206233275, 46.373301296919635, 33.553106211327275, 28.58232107232636, 20.035149564157066, 29.067967237212887, 34.367080513871436, 39.1611611018254, 49.38497783746445, 31.731586447552722, 34.57543563786342, 32.93003580289273, 21.721332808752972, 38.57680265321681, 22.71193038703546, 42.57307708637276, 27.11809329800027, 49.56040579733307, 28.491120887920964, 20.19270568936286, 29.06560532698891, 42.373973091490654, 42.70141649099782, 27.549552066237208, 32.359915958434584, 26.97840733609506, 43.90341309810811, 30.952958046557892, 16.634244768517345, 46.18428358199917, 49.945908121665894, 34.22101226519239, 46.35934463474095, 16.87286707688629, 23.21810655325274, 39.01662761907899, 40.02313898997822, 38.620974464020065, 23.004245042393876, 38.651644638358164, 45.30593423761396, 15.027905567123465, 38.913872483849175, 27.737459216487956, 26.337586323258705, 24.559716435430854, 40.177954224170165, 18.165789515148973, 40.38767334949816, 41.127784624204665, 48.65852807204052, 41.38123440898196, 48.77596829362095, 15.542319406206449, 29.548400313276602, 43.94511994012484, 44.03025983069162, 42.15945199566006, 43.64013723111239, 29.85696890688086, 27.63265321688527, 36.06481975584201, 38.88318043420186, 33.706562324151534, 43.43593242446832, 40.299139374462, 46.42951998537673, 39.083108200007146, 33.337054870465295, 17.559109406394505, 35.11798536879006, 17.262607539259676, 29.41483826993533, 27.152292940373552, 47.31470094834615, 28.64492912656932, 21.466741924621978, 16.447613830339577, 27.0026636939888, 33.59152311218864, 31.04762761912704, 37.716325487803275, 15.545954286470288, 46.36334053321769]

In [4]:
# info_per_transponder['L01_laptime_list'] = info_per_transponder.apply(lambda row: np.array([]) if pd.isnull(row['L01_laptime_list']) else row['L01_laptime_list'], axis=1)

new_laptimes = newlines.loc[newlines['loop'] == 'L01'].groupby('transponder_id')['lapTime'].apply(list)
info_per_transponder['L01_laptime_list'] = info_per_transponder.apply(lambda row: row['L01_laptime_list'] + new_laptimes.get(row.name, []) if row.name in newlines['transponder_id'].values else row['L01_laptime_list'], axis=1)

display(info_per_transponder)

,transponder_name,L01_laptime_list,fastest_lap_time,average_lap_time,slowest_lap_time,total_L01_laps
transponder_id,,,,,,
1,,"[29.824192112988246, 16.95988869270622, 42.461...",NaN,NaN,NaN,0
2,,"[18.82562674848476, 43.131695540032766, 27.597...",NaN,NaN,NaN,0
3,,"[49.70475633242962, 23.81076667703948, 23.6219...",NaN,NaN,NaN,0
4,,"[48.33625861525358, 41.37501669799716, 33.3409...",NaN,NaN,NaN,0
5,,"[32.371017385689825, 46.33072255104103, 28.800...",NaN,NaN,NaN,0
6,,"[13.69176239776935, 35.9206770772959, 49.94979...",NaN,NaN,NaN,0

In [5]:
info_per_transponder['average_lap_time'] = info_per_transponder.apply(lambda row: np.mean(row['L01_laptime_list']) if row.name in newlines['transponder_id'].values and len(row['L01_laptime_list']) > 0 else np.nan, axis=1)
display(info_per_transponder)

,transponder_name,L01_laptime_list,fastest_lap_time,average_lap_time,slowest_lap_time,total_L01_laps
transponder_id,,,,,,
1,,"[29.824192112988246, 16.95988869270622, 42.461...",NaN,32.117899,NaN,0
2,,"[18.82562674848476, 43.131695540032766, 27.597...",NaN,30.999818,NaN,0
3,,"[49.70475633242962, 23.81076667703948, 23.6219...",NaN,32.023155,NaN,0
4,,"[48.33625861525358, 41.37501669799716, 33.3409...",NaN,31.866796,NaN,0
5,,"[32.371017385689825, 46.33072255104103, 28.800...",NaN,31.632166,NaN,0
6,,"[13.69176239776935, 35.9206770772959, 49.94979...",NaN,31.941392,NaN,0

In [6]:
info_per_transponder['fastest_lap_time'] = info_per_transponder.apply(lambda row: np.min(row['L01_laptime_list']) if row.name in newlines['transponder_id'].values and len(row['L01_laptime_list']) > 0 else np.nan, axis=1)
display(info_per_transponder)

,transponder_name,L01_laptime_list,fastest_lap_time,average_lap_time,slowest_lap_time,total_L01_laps
transponder_id,,,,,,
1,,"[29.824192112988246, 16.95988869270622, 42.461...",13.076927,32.117899,NaN,0
2,,"[18.82562674848476, 43.131695540032766, 27.597...",13.009007,30.999818,NaN,0
3,,"[49.70475633242962, 23.81076667703948, 23.6219...",13.001854,32.023155,NaN,0
4,,"[48.33625861525358, 41.37501669799716, 33.3409...",13.024991,31.866796,NaN,0
5,,"[32.371017385689825, 46.33072255104103, 28.800...",13.010498,31.632166,NaN,0
6,,"[13.69176239776935, 35.9206770772959, 49.94979...",13.051171,31.941392,NaN,0

In [7]:
info_per_transponder['slowest_lap_time'] = info_per_transponder.apply(lambda row: np.max(row['L01_laptime_list']) if row.name in newlines['transponder_id'].values and len(row['L01_laptime_list']) > 0 else np.nan, axis=1)
display(info_per_transponder)

,transponder_name,L01_laptime_list,fastest_lap_time,average_lap_time,slowest_lap_time,total_L01_laps
transponder_id,,,,,,
1,,"[29.824192112988246, 16.95988869270622, 42.461...",13.076927,32.117899,49.975146,0
2,,"[18.82562674848476, 43.131695540032766, 27.597...",13.009007,30.999818,49.906042,0
3,,"[49.70475633242962, 23.81076667703948, 23.6219...",13.001854,32.023155,49.951194,0
4,,"[48.33625861525358, 41.37501669799716, 33.3409...",13.024991,31.866796,49.989073,0
5,,"[32.371017385689825, 46.33072255104103, 28.800...",13.010498,31.632166,49.845355,0
6,,"[13.69176239776935, 35.9206770772959, 49.94979...",13.051171,31.941392,49.949796,0

In [ ]:
transponder_names = pd.DataFrame({'transponder_id': range(1,7), 'transponder_name': ['Augus', 'Gilles', 'Bart', 'Sander', 'Joris', 'Tom']})
transponder_names.set_index('transponder_id', inplace=True)
display(transponder_names)
info_per_transponder['transponder_name'] = info_per_transponder.index.map(transponder_names['transponder_name'])
display(info_per_transponder)

# info_per_transponder = pd.merge(info_per_transponder, transpondertransptransponder_namestrasinfoinfo_per_transponder_fo_per_transponder)

               transponder_name
transponder_id
1                         Augus
2                        Gilles
3                          Bart
4                        Sander
5                         Joris
6                           Tom

,transponder_name,L01_laptime_list,fastest_lap_time,average_lap_time,slowest_lap_time,total_L01_laps
transponder_id,,,,,,
1,Augus,"[29.824192112988246, 16.95988869270622, 42.461...",13.076927,32.117899,49.975146,0
2,Gilles,"[18.82562674848476, 43.131695540032766, 27.597...",13.009007,30.999818,49.906042,0
3,Bart,"[49.70475633242962, 23.81076667703948, 23.6219...",13.001854,32.023155,49.951194,0
4,Sander,"[48.33625861525358, 41.37501669799716, 33.3409...",13.024991,31.866796,49.989073,0
5,Joris,"[32.371017385689825, 46.33072255104103, 28.800...",13.010498,31.632166,49.845355,0
6,Tom,"[13.69176239776935, 35.9206770772959, 49.94979...",13.051171,31.941392,49.949796,0

In [2]:
import pandas as pd

def calculate_fastest_acceleration(file_path, loop_positions, track_length):
    # Load the lap times data from the CSV file
    df = pd.read_csv(file_path)

    # Calculate the lap distance for each loop
    loop_distances = {loop: track_length if loop == 'L01' else loop_positions[loop] - loop_positions['L01'] for loop in loop_positions}

    # Calculate the lap speed for each transponder and loop
    df['lapSpeed'] = df.apply(lambda row: loop_distances[row['loop']] / row['lapTime'], axis=1)

    # Calculate the acceleration (change in speed over time) for each transponder and loop
    df['acceleration'] = df.groupby('transponder_id')['lapSpeed'].diff() / df.groupby('transponder_id')['utcTimestamp'].diff()

    # Compute the rolling maximum acceleration for each transponder across all loops
    df['rolling_acceleration'] = df.groupby('transponder_id')['acceleration'].transform(lambda x: x.rolling(window=5, min_periods=1).max())

    # Identify the transponder with the highest peak acceleration
    peak_acceleration = df.groupby('transponder_id')['rolling_acceleration'].max().reset_index()
    peak_acceleration.columns = ['transponder_id', 'peak_acceleration']

    # Return the transponder with the highest peak acceleration
    return peak_acceleration.nlargest(1, 'peak_acceleration')

In [3]:
# Example usage:
file_path = 'api/static/csv/lap_times.csv'
loop_positions = {'L01': 0, 'L02': 35, 'L03': 50, 'L04': 107, 'L05': 150, 'L06': 160, 'L07': 232}
track_length = 250
result = calculate_fastest_acceleration(file_path, loop_positions, track_length)
print(result)

  transponder_id  peak_acceleration
0        NL37323           0.384675